<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- start head -->
<div th:replace="fragments/header :: head"></div>
<!-- end head -->

<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin-top:50px">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title"><strong>Login User</strong></h3></div>
	  <div class="panel-body">
	   <form role="form">
	   	  <div class="alert alert-danger" id="error-msg" style="display:none;"></div>
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" placeholder="Username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password </label>
		    <input type="password" class="form-control" id="password" placeholder="Password">
		    
		  </div>
		  <center>
		  	<button type="button" id="login-btn" class="btn btn-success">Login</button>
		  </center>
		</form>
	  </div>
	</div>
  <div class="col-md-4"></div>
</div>

</div>
</html>

<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	/*<![CDATA[*/
	var loginBtn = $("#login-btn");
	var username = $("#username");
	var password = $("#password");
	var erroMsg = $("#error-msg");
	loginBtn.click(function(e){
		login();
	});
	
	function login(){	    	
		var url = window.location.protocol+'//'+window.location.host + '/api?type=login&username='+username.val()+'&password='+password.val();
		console.log(url);
		$.ajax({
			method: "GET",
			url: url,
			dataType: "json",
			success: function(data) {
				console.log(data);
				if(data.status == 0){
					erroMsg.html(data.msg);
					erroMsg.show();
				}else{
					sessionStorage.setItem("userid", data.userid);
					window.location.href = "transaction";
					erroMsg.html("");
					erroMsg.hide();					
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				erroMsg.html("Error internal server");
				erroMsg.show();
			}
		});
	}
    /*]]>*/
    
})
</script>